<a href="https://colab.research.google.com/github/Kart-95/guvi/blob/main/guvi_mathematics_18_to_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def month():
  months=('January','March','May','July','August','October','December')
  monthsmall=('JANUARY','MARCH','MAY','JULY','AUGUST','OCTOBER','DECEMBER')
  for i in temp:
    for j in range(7):
      if b[i-1]==months[j] or b[i-1]==monthsmall[j]:
        b[i]=int(b[i])
        if b[i]<=1987:
          b[i-2]=int(b[i-2])
          if b[i-2]==22 or b[i-2]<=31:
            result=(temp.index(i))
            result=result+1
            output.append(result)


a=int(input())
b=input().split()
elements=a*3
temp=[]
output=[]
for i in range(2,elements+1,3):
  temp.append(i)
month()
print(*output)
#integer=[]
#for i in c:
#  temp=int(b[i])
 # integer.append(temp)
#
#days=(1,4,7,10)
#years=(3,6,9,12)
#for i in range()

7
1 January 2004 2 August 1984 3 October 1986 4 July 1986 22 July 1986 19 March 2004 15 April 2003
2 3 4 5

In [ ]:
a=int(input())
b=list(map(int,input().split()))
c=[]

for i in range(a):
  count=0
  for j in range(a):
    if b[i]==b[j]:
      count=count+1
  if count==1:
    c.append(b[i])
c.sort(reverse=True)
print(*c)

9
1 6 4 56 56 56 6 4 2
2 1

In [ ]:
a=int(input())
count=0
for i in range(1,100):
  for j in range(1,100):
    if i+j==a:
      count=count+1
print(count)

5
4

In [ ]:
a=list(map(int,input().split()))
b=a[0]-a[1]
if b%2==0:
  print("even")
else:
  print("odd")

10 5
odd

In [ ]:
a=int(input())
b=0
for i in range(a,0,-1):
  b+=i
print(b)

3
6

In [ ]:
a=int(input())
b=list(map(int,input().split()))
for i in range(a):
  count=0
  for j in range(a):
    if b[i]<=b[j]:
      count=count+1
  if count==a:
    print(b[i])

5
3 4 9 1 6
1