<a href="https://colab.research.google.com/github/Kart-95/guvi/blob/main/guvi_maths_24to34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input())
b=list(map(int,input().split()))
result=0
total=0
for i in range(0,a-1):
  if b[i]>b[i+1]:
    total=b[i]-b[i+1]
    result+=total
print(result)

3
7 4 9
3
3

In [ ]:
a=int(input())
for i in range(a,10000):
  if i%10==0:
    print(i)
    break

11
20

In [ ]:
a=int(input())
b=a*2
print(b)

8
16

In [ ]:
a=int(input())
j=1
b=[2]
for i in range(1,a):
  j=j+2
  b.append(j)
  b[i]=b[i-1]+j
print(*b)

4
[2, 5, 10, 17]

In [ ]:
a=input().split()
b=[]
if len(a)<=11:
  for i in range(len(a)):
    if i ==(len(a)-1):
      for j in range(len(a[i])):
        if j==len(a[i])-1:
          c=list(a[i])
          c.remove(c[j])
          a[i]=''.join(c)
    if a[i].isdigit():
      a[i]=int(a[i])
      b.append(a[i])
  if b[0]>b[1]:
    print(b[0])
  else:
    print(b[1])
else:
  for i in range(7):
    if i ==(7-1):
      for j in range(len(a[i])):
        if j==len(a[i])-1:
          c=list(a[i])
          c.remove(c[j])
          a[i]=''.join(c)
    if a[i].isdigit():
      a[i]=int(a[i])
      b.append(a[i])
  if b[0]>b[1]:
    print(b[0])
  else:
    print(b[1])

 I was born on 12 october 1998.
1998

In [ ]:
a=int(input())
b=list(map(int,input().split()))
j=0
d=[]
for i in range(a):
  if i==0:
    j=0
  else:
    j=1+j
  c=b[j]-b[a-3]-b[a-2]-b[a-1]
  d.append(c)
print(*d)

5
95 85 75 12 11
-3 -13 -23 -86 -87

In [ ]:
a=list(map(int,input().split()))
b=[]
c=[]
for i in range(1,100):
  if a[0]%i==0:
    b.append(i)
b.sort()
for j in range(1,100):
  if a[1]%j==0:
    c.append(j)
c.sort()
l=0
count=0
for k in range(len(b)):
  if b[l]==c[k]:
    count=count+1
  l=l+1
if count==1:
  print("1")
else:
  print("0")

21 22
1

In [ ]:
a=int(input())
count=0
for i in range(1,1000):
  if a%i==0:
    count+=1
if count==2:
  print("yes")
else:
  print("no")

83
yes

In [ ]:
a=int(input())
b=[]
for i in range(a):
  if i==0:
    b.append(1)
  elif i==1:
    c=3*3
    b.append(c)
  else:
    c=(b[i-1]+a)*a
    b.append(c)
print(*b)

2
1 9

In [ ]:
a=input()
c=1
for i in a:
  b=int(i)
  c=c*b
print(c)

2143
24

In [ ]:
a=int(input())
b=[]
for i in range(1,1000):
  if a%i==0:
    b.append(i)
    if a==i:
      break
print(*b)

6
1 2 3 6